/* = Footer
----------------------------------------------- */

.site-footer {
    .footer-widgets-container .inner-padding {
        padding: 0px 0px 0px 40px;

        @media (max-width: @screen-sm-min) {
            padding: 0;
        }
    }

    .footer-widgets-container .inside-footer-widgets {
        margin-left: -40px;

        @media (max-width: @screen-sm-min) {
            margin: 0;
        }
    }
}


/* Footer Widgets */
.footer-widgets {
    font-size: 14px;
    line-height: 1.5em;
    color: @footer-color;
    padding: 110px 40px;
    border-top: 1px solid @border-color;

    .inside-footer-widgets .inner-padding {
        padding: 0 40px;

        @media (max-width: @screen-sm-min) {
            padding: 0;
        }
    }

    .widget {
        font-size: 14px;
        
        a {
            color: @footer-color;

            &:hover {
                color: @theme-color;
            }
        }
    }

    .widget-title {
        font-size: 23px;
        line-height: 1.5em;
        font-weight: 400;
        color: #333e48;
    }
}


/* Site Info */
.site-info {
    padding: 20px;
    font-size: 15px;
    border-top: 1px solid @border-color;

    @media (max-width: @screen-sm-min) {
        text-align: center;
    }

    .inside-site-info {
        display: flex;
        align-items: center;

        @media (max-width: @screen-sm-min) {
            display: block;
        }

        > div {
            flex: 1 1 auto;
        }

        .payment-options {
            text-align: right;

            @media (max-width: @screen-sm-min) {
                text-align: center;
                margin-top: 20px;
            }
        }

        .copyright-bar {
            font-size: 16px;
            line-height: 1.3em;

            @media (max-width: @screen-sm-min) {
                float: none !important;
                text-align: center !important;
            }
        }
    }
}


/* Footer bar */

.footer-bar {
    @media (max-width: @screen-sm-min) {
        float: none !important;
        text-align: center !important;
        margin-bottom: 20px;
    }

    .widget_nav_menu > div > ul {
        display: inline-block;
        vertical-align: top;
    }

    .textwidget p:last-child {
        margin: 0;
    }

    .widget-title {
        display: none;
    }

    /* Footer bar menu */
    .widget_nav_menu li {
        margin: 0 10px;
        float: left;
        padding: 0;

        @media (max-width: @screen-sm-min) {
            float: none;
            display: inline-block;
            padding: 5px 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        ul {
            display: none;
        }
    }
}

.footer-bar-active .footer-bar .widget {
    padding: 0;
}


/* Footer bar aligned right */
.footer-bar-align-right .copyright-bar {
    float: left;
}

.footer-bar-align-right .footer-bar {
    float: right;
    text-align: right;
}

/* Footer bar aligned left */
.footer-bar-align-left .copyright-bar {
    float: right;
    text-align: right;
}

.footer-bar-align-left .footer-bar {
    float: left;
    text-align: left;
}

/* Footer bar aligned center */
.footer-bar-align-center .copyright-bar {
    float: none;
    text-align: center;
}

.footer-bar-align-center .footer-bar {
    float: none;
    text-align: center;
    margin-bottom: 10px;
}
