/* = Top bar
----------------------------------------------- */
.top-bar {
    border-bottom: 1px solid @border-color;
    //background-color: @white;
    //color: @topbar-menu-color;
    min-height: 48px;

    .inside-top-bar {
        //width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;

        &:after,
        &:before {
            content: none;
        }

        .widget {
            padding: 0;
            display: inline-block;
            margin: 0;
        }

        .textwidget p:last-child {
            margin: 0;
        }
    }

    //a {
    //    color: inherit;
    //
    //    &:hover {
    //        color: @theme-color;
    //    }
    //}

    div:not(.entry-content) .widget ul li {
        padding-top: 5px;
    }

    .dokanee-user-menu {
        float: right;

        ul {
            list-style: none;
            margin-bottom: 0;
            margin-right: -22px;

            li {
                display: inline-block;
                padding: 14px 22px;
                position: relative;
                cursor: pointer;

                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }

                a {
                    position: relative;

                    &:before {
                        position: absolute;
                        font-family: "Flaticon";
                        content: '\f07a';
                        top: -1px;
                        left: -25px;
                        font-size: 15px;
                    }

                    &.dokanee-menu-cart {
                        &:before {
                            content: '\f112';
                            color: #16a085;
                        }
                    }

                    &.dokanee-menu-login,
                    &.dokanee-menu-user {
                        &:before {
                            content: '\f104';
                            color: #008fd5;
                        }
                    }

                    &.dokanee-menu-vendor-dashboard {
                        &:before {
                            content: '\f10c';
                            color: @theme-color;
                            font-size: 14px;
                            top: 0;
                        }
                    }

                    .fa-angle-down {
                        margin-left: 8px;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 81%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    float: left;
                    min-width: 160px;
                    padding: 5px 0;
                    margin: 10px 0 0;
                    font-size: 14px;
                    list-style: none;
                    background-color: #ffffff;
                    border: none;
                    .transition(all .2s);
                    .rounded(4px);
                    .box-shadow(0 10px 50px 0 rgba(0,0,0,.17));
                    background-clip: padding-box;

                    @media (min-width: 768px) {
                        right: 20px;
                        left: auto;
                    }

                    .divider {
                        height: 1px;
                        margin: 9px 0;
                        padding: 0;
                        overflow: hidden;
                        background-color: #e5e5e5;
                    }

                    li {
                        display: block;
                        padding: 5px 20px;

                        a {
                            &:before {
                                content: none;
                            }

                            i.pull-right {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    .widget_shopping_cart_content {
        padding: 5px 10px;
        min-width: 300px;
    }

    .widget-title {
        display: none;
    }

    /* Top bar menu */
    .widget_nav_menu {
        > div > ul {
            display: inline-block;
            vertical-align: top;
        }

        li {
            margin: 0 10px;
            float: left;
            padding-left: 0;
            padding-right: 0;
            padding-top: 11px !important;
            padding-bottom: 11px !important;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }

            ul {
                display: none;
            }
        }
    }
}

.top-bar-align-center {
    text-align: center;

    .inside-top-bar .widget {
        &:not(:first-child) {
            margin-left: 10px;
        }
        &:first-child:last-child {
            display: block
        }
    }
}

.top-bar-align-right {
    text-align: right;

    .inside-top-bar >.widget {
        &:nth-child(even) {
            float: left;
            margin-right: 10px;
        }
        &:nth-child(odd) {
            margin-left: 10px;
        }
    }
}

.top-bar-align-left {
    .inside-top-bar >.widget {
        &:nth-child(even) {
            margin-left: 10px;
            float: right;
        }
        &:nth-child(odd) {
            float: left;
            margin-right: 10px;
        }
    }
}


/* = Site Header
----------------------------------------------- */
.site-header {
    position:relative;
    .box-shadow(-0.559px 0.829px 10px 0px rgba(202, 210, 240, 0.3));

    .inside-header {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: space-between;

        &:before,
        &:after {
            content: none;
        }

        .header-left {
            display: flex;
            align-items: center;
            width: 62%;
        }

        .category-menu-wrapper {
            padding-right: 23px;
            width: 34px;

            .dokanee-category-menu {
                position: relative;
                width: 32px;
                padding-bottom: 26px;
                margin-top: 20px;
                cursor: pointer;

                &:hover #cat-drop-stack {
                    display: block;
                }

                .title {
                    text-indent: -1000em;
                    position: relative;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    margin: 0;
                    //padding-bottom: 20px;
                    cursor: pointer;

                    &:before {
                        font-family: FontAwesome;
                        content: '\f0c9';
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 15px;
                        color: @theme-color;
                        text-indent: 0;
                        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
                        border: 1px solid @border-color;
                        .rounded(3px);
                        width: 34px;
                        height: 30px;
                        text-align: center;
                        line-height: 28px;
                    }
                }

                #cat-drop-stack {
                    display: none;
                    width: 250px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #fafcfd;
                    margin: 0;
                    z-index: 999;
                    border: none;
                    color: #949eaa;
                    border-radius: 5px;
                    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.15);
                    padding: 15px 0px;

                    ul {
                        margin: 0;
                        list-style: none;

                        li {

                            &.has-children {
                                a {
                                    border-bottom: 0 !important;

                                    .caret-icon {
                                        float: right;
                                    }
                                }

                                .children {
                                    display: none;
                                    margin-left: 20px;
                                }
                            }
                        }

                        a {
                            display: block;
                            padding: 6px 25px;
                        }


                    }
                }
            }
        }

        .header-widget {
            top: 0;
            margin-left: 7%;
            overflow: hidden;

            .widget {
                padding: 0 0 20px;
                margin-bottom: 0;

                &:last-child {
                    padding-bottom:0;
                }
            }

            .widget_dokna_product_search {
                float: none;
                max-width: unset;
            }
        }

        .ajaxsearchform{
            .input-group {
                display: flex;
                width: 500px;
                max-width: 100%
            }

            .dokan-ajax-search-textfield {
                font-size: 14px;
                padding: 7.5px 15px;
                width: 90%;
                background-color: transparent;
                border: 1px solid @border-color;
                border-radius: 5px 0 0 5px;
                .placeholder(#b5b7c9);
            }

            .input-group-addon {
                position: relative;
                width: 45px;
                border-radius: 0 5px 5px 0;
                background-color: #f9f9f9;
                border: 1px solid @border-color;
                border-left: 0;

                &:before {
                    font-family: FontAwesome;
                    content: '\f002';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 15px;
                    color: @theme-color;
                    transform: translate(-50%, -50%);
                }
                select {
                    display: none;
                }
            }
        }


        .main-navigation {
            //width: 38%;

            & , .main-navigation ul ul {
                background: transparent;

                a {
                    //color: #000;
                }
            }

            .main-nav ul {
                //overflow: hidden;
                float: right;

                li {
                    &[class*="current-menu-"] > a {
                        background-color: transparent;
                        color: @theme-color;
                    }

                    &:hover > a, &:focus > a, &.sfHover > a {
                        background-color: transparent;
                        color: @theme-color;
                    }

                    a {
                        padding-left: 15px;
                        padding-right: 15px;
                        line-height: 70px;
                    }
                }

                ul li a {
                    line-height: normal !important;
                }
            }

        }

    }
}


/* Site header */

.main-title {
    margin: 0;
    font-size: 50px;
    line-height: 1.2em;
}

.site-logo {
    display: inline-block;
    max-width: 100%;
}

.site-description {
    margin: 0;
    line-height: 1.5;
}

.nav-float-right .header-widget {
    position:relative;
    top: -10px;

    .widget {
        padding: 0 0 10px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}
