.widget-area,
.dokan-widget-area {
    .widget {
        //padding: 30px;
        .rounded(5px);
        .box-shadow(0px 2px 8px 0px rgba(0, 0, 0, 0.06));
        color: @sidebar-content-color;
        line-height: 1.5em;

        img {
            vertical-align: top;
        }

        a {
            display: inline-block;
            max-width: 100%;
        }

        &.widget_media_image img {
            width: 100%;
        }

        > *:not(.widget-title) {
            padding: 30px;
        }

        .widget-title + div {
            padding-top: 20px;
        }

        .textwidget > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &:last-child {
            margin-bottom: 60px;
        }

        .widget-title {
            font-weight: normal;
            text-transform: none;
            font-size: 20px;
            line-height: 1.3em;
            padding-left: 30px;
            padding-right: 30px;
            //border-bottom: 2px solid @border-color;
            margin-bottom: 0;
        }


        &.widget_search {

            form {
                padding: 0;
            }

            .search-field {
                background-color: @white;
                .rounded(5px);
                padding-left: 30px;
                padding-right: 30px;
                border-color: transparent;
                .transition(all .2s);

                &:hover,
                &:active,
                &:focus {
                    border-color: @border-color;
                }
            }
        }

        .menu-long-menu-container,
        > ul {
            padding: 0 !important;
        }

        &.widget_archive {
            select {
                margin: 30px;
            }
        }

        //#cat-drop-stack {
        //    li {
        //        padding-left: 0 !important;
        //        padding-right: 0 !important;
        //    }
        //}

        ul {

            > li {
                padding-left: 30px;
                padding-right: 30px;

                &:last-child {
                    border-bottom: 0;
                }

                > a {
                    color: @sidebar-content-color;

                    //&:hover,
                    //&:active,
                    //&:focus {
                    //    color: @theme-color;
                    //}
                }

                .children {
                    margin-left: 1em;

                    li {
                        padding-left: 0 !important;
                        padding-right: 0 !important;

                        &:last-child {
                            padding-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

.sidebar .widget {
    margin-top: 30px;
}

.dokani-template-front-page .sidebar .widget {
    margin-top: 0;
}

.products-section {
    .woocommerce ul.product_list_widget li {
        border-bottom: 2px solid #f5f5f5 !important;
    } 
}

.woocommerce ul.product_list_widget li {
    border-bottom: 0px solid #f5f5f5 !important;
    padding-bottom: 18px;
}

.inside-right-sidebar, .inside-left-sidebar {
    .widget-title[class] {
        border-bottom-width: 0px !important;
        padding-bottom: 20px;
    }
}

.dokan-store-contact[class] {
    padding-top: 10px;

    .widget-title {
        padding-bottom: 0;
    }

    form {
        padding-top: 20px;
    }
}

/*===============================
Color filter widget
===============================*/
.dokani-widget-layered-nav {
    padding-bottom: 10px;

    .dokani__color-filter[class] {
        margin: 0 27px 20px;
    
        li {
            display: inline-block;
            border-bottom-width: 0px;

            &.wc-layered-nav-tax--pa_size {
                &.chosen {
                    a {
                        color: #f2624d;
                    }
                }
                a {
                    margin: 3px 14px 12px 0;
                    width: 25px;
                    height: 25px;
                    border-radius: inherit;
                    border: 1px solid #ddd;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:before {
                        display: none;

                    }

                    &:hover:before {
                        display: none;

                    }

                    span {
                        display: block;

                    }
                }
            }
    
            &.woocommerce-widget-layered-nav-list__item--chosen.chosen {
                a {
                    &:before {
                        content: "\f00c";
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        top: 0;
                        left: 0;
                        color: #fff;
                        font-size: 10px;
                        padding: 5px;
        
                    }
    
                }
            }
    
            a {
                display: block;
                margin: 3px 26px 10px 0;
                padding-right: 0!important;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                white-space: nowrap;
                position: relative;
                text-align: left;
                position: relative;

                span {
                    display: none;

                }
    
                &:hover:before {
                    content: "\f00c";
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    top: -2px;
                    left: 5px;
                    color: #fff;
                    font-size: 10px;
                    padding: 0;
                }
    
            }
    
        }
    }

}


