button.menu-toggle {
	background-color: transparent;
	border: 0;
	text-align: center;
}

.nav-search-enabled .main-navigation .menu-toggle {
	/*text-align: left;*/
}

.mobile-bar-items {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 21;
	list-style-type: none;
}

.mobile-bar-items a {
	display: inline-block;
}

.mobile-bar-items .search-item.active {
	transition: opacity 300ms ease-in-out;
}

@media (max-width: 768px) {
	.top-bar.top-bar-align-left,
	.top-bar.top-bar-align-right {
		text-align: center;
	}

	.top-bar .widget {
		/*float: none !important;*/
		/*margin: 0 10px !important;*/
	}

	.top-bar .widget_nav_menu li {
		float: none;
		display: inline-block;
		padding: 5px 0;
	}

	.sidebar,
	.content-area,
	.inside-footer-widgets > div {
		float: none;
		width: 100%;
		left: 0;
		right: 0;
	}

	.inside-footer-widgets > div:not(:last-child) {
		margin-bottom: 40px;
	}

	.one-container .sidebar {
		margin-top: 40px;
	}

	.separate-containers #left-sidebar + #right-sidebar .inside-right-sidebar {
		margin-top: 0;
	}

	a, body, button, input, select, textarea {
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}

	/* Start mobile navigation */
	.main-navigation .menu-toggle,
	.main-navigation .mobile-bar-items,
	.sidebar-nav-mobile:not(#sticky-placeholder) {
		display: block;
	}

	.main-navigation ul,
	.gen-sidebar-nav {
		display: none;
	}

	[class*="nav-float-"] .site-header .inside-header > * {
		float: none;
		clear: both;
	}
	/* End mobile navigation */

	.both-right.separate-containers .inside-left-sidebar,
	.both-left.separate-containers .inside-left-sidebar,
	.both-right.separate-containers .inside-right-sidebar,
	.both-left.separate-containers .inside-right-sidebar {
		margin-right: 0;
		margin-left: 0;
	}

	.site-main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	body:not(.no-sidebar) .site-main {
		margin-bottom: 0 !important;
	}

	.header-widget {
		float: none;
		max-width: 100%;
		text-align: center;
	}

	.alignleft,
	.alignright {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.post-image-aligned-left .post-image,
	.post-image-aligned-right .post-image {
		float: none;
		margin: 2em 0;
		text-align: center;
	}

	.comment .children {
		padding-left: 10px;
		margin-left: 0;
	}

	.edd_download {
		display: block;
		float: none !important;
		margin-bottom: 1.5em;
		width: 100% !important;
	}
}
