.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

#accordion-panel-dokanee_footer_panel,
#accordion-panel-dokanee_blog_panel {
    margin-bottom: 15px;
}